<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/staff/dashboard}"><i class="bi bi-speedometer2"></i> Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/resource/list}"><i class="bi bi-building"></i> Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/staff/booking-history}"><i class="bi bi-clock-history"></i> Booking History</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/staff/resource-history}"><i class="bi bi-archive"></i> Resource History</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
